<div id="header">
  <%= image_tag 'logo01.png' %>
  <p style="font-size: x-large; text-align: center;">
    結婚式にご参列いただき、<br>
    ありがとうございました。<br>
    当サイトは、10/31を持って<br>
    閉鎖いたしました。<br>
    なお、写真に関しては、<a href="https://drive.google.com/drive/folders/1fEbBw7Nhek4Y_75JIrotoLHx-MD69CJe?usp=sharing">こちら</a>
    にて<br>
    閲覧することができます。
  </p>
</div>
<div id="wrapper">
  <main id="main">
  </main>
</div>