<div id="header">
  <%= image_tag 'logo01.png' %>
</div>
<div id="wrapper">
  <main id="main">
    <div id="loading" style="display: none;">
      <p class="btn btn-default btn-lg"><i class="zmdi zmdi-rotate-right zmdi-hc-spin"></i></p>
    </div>
    <ul id="gallery" class="on" style="position: relative; width: 1240px">
      <% @images.each do |image| %>
        <li class="item">
          <%=  link_to image, 'data-lightbox': image do %>
            <img src=<%= image %> >
          <% end %>
        </li>
      <% end %>
    </ul>
  </main>
</div>